*{
    margin: 0px;
    box-sizing: border-box;
}  

html, body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.bg-img{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #020202;
}

.bg-img::before{
    content: ' ';
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background: url("Image/background.png") no-repeat center center;
    background-size: cover;
}

#navbar{
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.nav-logo h1{
    font-weight: 300;
    font-size: 2.4vmax;
    font-family: 'Carter One', cursive;
}

.nav-logo h1 a{
    color: white;
    text-decoration: none;
    cursor: default;
}

#navbar .nav-items ul{
    display: flex;
    gap: 30px;
}

ul a{
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
}

ul a:hover{
    border: 1px solid white;
    border-radius: 5px;
}

ul i{
    font-size: 25px;
    display: none;
}

.bg-img .text{
    position: absolute;
    bottom: 150px;
    left: 50px;
}

.text h1{
    font-size: 4rem;
    color: white;
}

.text span{
    color: #bb5122;
}

.text h4{
    /* margin-top: 5px; */
    margin-bottom: 15px;
    font-size: 0.9rem;
    border: none;
    font-weight: 100;
    color: #cbc6c6;
}

.text img{
    height: 35px;
    margin: 7px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.showcase{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.showcase .game{
    position: relative;
    margin: 20px;
    top: -50px;
    border-radius: 15px;
    width: auto;
    height: 70vh;
    overflow: hidden;
    box-shadow: 5px 10px 10px #020202;
    background-color: white;
}

.game img{
    object-fit: cover;
    height: 100%;
    transition: all ease 1s;
    opacity: 0.9;
}

.game:hover img{
    scale: 1.1;
    opacity: 1;
}

.game:hover .img-text{
    display: none;
}

.game .img-text{
    color: white;
    position: absolute;
    bottom: 100px;
    left: 25px;
}

.img-text h6{
    font-size: 1.5rem;
}

.more{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: 800;
}

.more a{
    text-decoration: none;
    color: black;
    padding: 2rem;
}

.ic{
    display: flex;
    justify-content: center;
}

#about{
    padding:  10vh 15vw;
}

.about-cont{
    padding: 0px 10vw;
}

.about-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-info h4{
    color: #272443;
    padding-bottom: 7vh;
}
.about-info h1{
    font-family: 'Dai Banna SIL', serif;
    font-weight: 700;
    font-size: 3.3rem;
    color: #272443;
    line-height: 8vh;
    padding-bottom: 5vh;
}

.about-info p{
    color: #272443;
    line-height: 4vh;
    font-weight: 500;
    padding-bottom: 5vh;
}

.about-info a{
    text-decoration: none;
    color: white;
    background-color: #DA392B;
    padding: 15px 20px;
    border: 1px solid #DA392B;
    border-radius: 5px;
    transition: all ease 0.2s;
}

.about-info a:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.about-pic{
    padding-top: 100px ;
}

.about-pic img{
    width: 50vw;
    border-radius: 15px;
    transition: all ease 0.5s;
}

.about-pic img:hover{
    scale: 1.2;
}

#more-games{
    margin-top: 15vh;
    background-image: url(Image/bg02.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.game-text{
    padding: 10vw 12vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.our-text{
    height: 10vh;
    width: 30vw;
}

.game-text h2{
    font-family: 'Dai Banna SIL', serif;
    color: #272443;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 2vh;
}

.our-text p{
    color: #bdacac;
}

.our-text a img{
    margin-top: 4vh;
    width: 15vh;
    border: 5px solid black;
    border-radius: 5px;
    margin-right: 1vw;
}

#contact{
    background-image: url("Image/contact-bg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: white;
    width: 30vw;
    height: 60vh;
    border-radius: 20px;
    padding: 2vh 3vw;
    display: flex;
    flex-direction: column;
}

form input, textarea{
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 1vh 1.5vw;
}

.name input{
    width: 45%;
}

form input:focus, textarea:focus{
    outline: none;
}

form h2{
    font-size: 1.7rem;
    padding-bottom: 2vh;
}

form p{
    padding-bottom: 2.4vh;
}

form .name{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4vh;
}

form .mail{
    padding-bottom: 2.4vh;
}

.mail input{
    width: 100%;
}

form .area{
    height: 30%;
    padding-bottom: 1.8vh;
}

.area textarea{
    resize: none;
    width: 100%;
    height: 100%;
}

form button{
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #1A1249;
    color: white;
    transition: all ease 0.2s;
    cursor: pointer;
}

form button:hover{
    background-color: #bb5122;
}

footer{
    background-color: black;
}

footer .link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10vh 8vw;
    align-items: center;
}

footer .link .text-link{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 5px;
}

.text-link .link-button{
    border-right: 1px solid white;
    padding-right: 3px;
}

.link-button:nth-child(5){
    border: none;
}

.text-link a{
    font-weight: 100;
    padding: 0px 7px;
    text-decoration: none;
    color: white;
}

.text-link a:hover{
    text-decoration: underline;
}

footer .link .icon-link{
    display: flex;
    gap: 10px;
    padding: 10px 5px;
    flex-wrap: wrap;
}

.icon-link a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.footer-logo{
    padding: 0px 30px;
}

.foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10vh 6vw;
    border-top: 1px solid #66604C;
}

.foot p{
    color: #66604C;
}

@media (max-width: 700px) {

    ul .pages{
        display: none;
    }

    ul i{
        display: inline;
    }

    .our-text{
        width: 50vw;
    }

}

@media (max-width: 1000px) {
    
    form{
        width: 70vw;
    }
    
}